.sidebar {
  background-color: skyblue;
  padding: 20px;
  width: 200px;
  height: 100vh;
}

.admin-dashboard {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.admin-icon {
  font-size: 24px;
  margin-right: 10px;
}

.admin-text {
  font-weight: bold;
}

.sidebar-options {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #ffff; /* Changed the text color to black */
}

.sidebar-option:hover {
  background-color: lightblue;
}


.parentDashboard{
  background-color: rgb(242, 247, 247);
  display: flex;
}

.sidebar-icon {
  font-size: 16px;
  margin-right: 10px;
}

.sidebar-text {
  color: black;
}

.dashboard-content {
  margin-left: 220px;
  padding: 20px;
  font-size: 24px;
}


.content {
  flex-grow: 1;
}

.nextToSidebar {
  margin-left: 20px;
}


.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.users-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.users-table tbody tr:hover {
  background-color: #f9f9f9;
}

.classH2{
  text-align: center;
}


.financial-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.financial-item {
  text-align: center;
}

.financial-item label {
  font-size: 18px;
  color: #777;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.users-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.delete-button {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff1744;
}


.financial-item span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
